# Feature Engineering and Kmeans
Author: Karina Condeixa

In [13]:
# import packages
import pandas as pd
# from faker import Faker, providers
# from faker.providers.address.de_DE import Provider as DeDeAddressProvider
# from faker.generator import random
# from faker.providers import BaseProvider
# import random

import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
# %matplotlib notebook
# %matplotlib 

# import folium
# from geopy.geocoders import Nominatim

In [14]:
item_df_original = pd.read_csv('data/item_df.csv')
# item_df_original = item_df_original[:][1:].squeeze()
item_df_original.head()

,item_category,item_condition,item_postcode,item_timer_days,n_views,n_likes,item_id
0,plants,3,10319,11,183,3,1
1,all,1,10587,10,19,0,2
2,clothes,2,10245,28,120,10,3
3,clothes,3,10551,17,59,0,4
4,kids,3,13469,5,8,0,5

In [15]:
item_df = item_df_original.copy()

## Feature engineering

### Nulls

Since the dataset is fake, there is no nulls on it.

### One-hot Encoding 

Function to convert categorical variations to numerical ones. The results 0 indicates non-existent while 1 indicates existent.

In [16]:
# columnsToEncode= ['item_category', 'item_condition']

# item_onehot = pd.get_dummies(item_df,columns=columnsToEncode, drop_first=True)
# item_onehot

#### The Postcodes with the most common item category

In [17]:

item_cat_onehot = pd.get_dummies(item_df[['item_category']], prefix="", prefix_sep="")
# item_cat_onehot.head()

# add neighborhood column back to dataframe
item_cat_onehot['item_postcode'] = item_df['item_postcode'] 

# move neighborhood column to the first column
fixed_columns = [item_cat_onehot.columns[-1]] + list(item_cat_onehot.columns[:-1])
item_cat_onehot = item_cat_onehot[fixed_columns]


item_cat_grouped = item_cat_onehot.groupby('item_postcode').mean().reset_index()

item_cat_onehot.head()

   item_postcode  all  clothes  furniture  kids  plants
0          10319    0        0          0     0       1
1          10587    1        0          0     0       0
2          10245    0        1          0     0       0
3          10551    0        1          0     0       0
4          13469    0        0          0     1       0

In [19]:
item_cat_grouped.head() # mean

   item_postcode       all   clothes  furniture  kids    plants
0          10119  0.333333  0.000000   0.666667   0.0  0.000000
1          10178  0.333333  0.666667   0.000000   0.0  0.000000
2          10179  0.000000  0.250000   0.250000   0.0  0.500000
3          10243  0.142857  0.285714   0.428571   0.0  0.142857
4          10245  0.000000  0.200000   0.000000   0.4  0.400000

In [28]:
category = ['all', 'furniture',  'clothes',  'plants', 'kids']

# option 1

# def ask_category():
#     break_flag = False
#     while not break_flag:
#         print('Enter a category: ')
#         chosen_category = input().lower()  
#         if chosen_category in category:
#            item_cat_gouped_sorted = item_cat_grouped.sort_values(by=chosen_category, ascending = False)
#            return item_cat_gouped_sorted.head()
        
# ask_category()

In [33]:
# option 2
def ask_category():
    chosen_category = None 
    while chosen_category not in category:
        print('Enter a category: ')
        chosen_category = input().lower()     
    item_cat_gouped_sorted = item_cat_grouped.sort_values(by=chosen_category, ascending = False)
    return item_cat_gouped_sorted.head()

ask_category()

Enter a category:
plants

     item_postcode       all   clothes  furniture      kids    plants
34           10711  0.285714  0.000000        0.0  0.000000  0.714286
116          12679  0.000000  0.166667        0.0  0.166667  0.666667
101          12487  0.000000  0.200000        0.0  0.200000  0.600000
90           12347  0.200000  0.200000        0.0  0.000000  0.600000
160          13583  0.142857  0.142857        0.0  0.142857  0.571429

In [30]:
# option 3

# def ask_category():
#   while True:
#     chosen_category = input('Enter a category: ').lower()  
#     if chosen_category in category:
#       break
#   item_cat_gouped_sorted = item_cat_grouped.sort_values(by=chosen_category, ascending = False)
#   return item_cat_gouped_sorted.head()


# ask_category()

# check https://realpython.com/python-do-while/#how-do-do-while-loops-work-in-practice

In [43]:

# item_onehot = pd.get_dummies(item_df[['item_category']], prefix="cat", prefix_sep="_")
# item_onehot 

# # add neighborhood column back to dataframe
# item_onehot['item_postcode'] = item_df['item_postcode'] 

# # move neighborhood column to the first column
# fixed_columns = [item_onehot.columns[-1]] + list(item_onehot.columns[:-1])
# item_onehot = item_onehot[fixed_columns]

# item_grouped = item_onehot.groupby('item_postcode').mean().reset_index()

# # item_onehot.head()

# item_grouped.head()

#### The Postcodes with the items in better condition

In [36]:
item_df['item_condition'] = item_df['item_condition'].astype(str)

In [37]:
item_cond_onehot = pd.get_dummies(item_df[['item_condition']], prefix="condition", prefix_sep="_")
item_cond_onehot 

# add postcode column back to dataframe
item_cond_onehot['item_postcode'] = item_df['item_postcode'] 

# move neighborhood column to the first column
fixed_columns = [item_cond_onehot.columns[-1]] + list(item_cond_onehot.columns[:-1])
item_cond_onehot = item_cond_onehot[fixed_columns]

item_cond_grouped = item_cond_onehot.groupby('item_postcode').mean().reset_index()

# item_cond_grouped.head()

item_cond_gouped_sorted = item_cond_grouped.sort_values(by='condition_1', ascending = False)

item_cond_gouped_sorted.head()

     item_postcode  condition_1  condition_2  condition_3
175          14057     0.800000     0.200000     0.000000
85           12277     0.714286     0.142857     0.142857
96           12359     0.714286     0.142857     0.142857
112          12621     0.692308     0.000000     0.307692
61           12051     0.666667     0.000000     0.333333

In [42]:
chosen_cond = 'condition_1'

item_cond_gouped_sorted = item_cond_grouped.sort_values(by=chosen_cond, ascending = False)
item_cond_gouped_sorted.head()

     item_postcode  condition_1  condition_2  condition_3
175          14057     0.800000     0.200000     0.000000
85           12277     0.714286     0.142857     0.142857
96           12359     0.714286     0.142857     0.142857
112          12621     0.692308     0.000000     0.307692
61           12051     0.666667     0.000000     0.333333

## Should I concatenate category and condition in the same dataframe?

### Best item per postcode

In [ ]:
top liked_onehot = pd.get_dummies(item_df[['item_category']], prefix="", prefix_sep="")
# item_cat_onehot.head()

# add neighborhood column back to dataframe
item_cat_onehot['item_postcode'] = item_df['item_postcode'] 

# move neighborhood column to the first column
fixed_columns = [item_cat_onehot.columns[-1]] + list(item_cat_onehot.columns[:-1])
item_cat_onehot = item_cat_onehot[fixed_columns]


item_cat_grouped = item_cat_onehot.groupby('item_postcode').mean().reset_index()

item_cat_onehot.head()

#### Sorting

In [ ]:

def return_most_common_items(row, num_top_items):
    row_items = row.iloc[1:]
    row_items_sorted = row_items.sort_values(ascending=False)

    return row_items_sorted.index.values[0:num_top_items]

### Top items by postcode

In [ ]:
num_top_items = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['item_postcode']

for ind in np.arange(num_top_items):
    try:
        columns.append('{}{} Most Common Items'.format(ind+1, indicators[ind]))  
    except:
        columns.append('{}th Most Common Items'.format(ind+1))  

# create a new dataframe
postcodes_cat_sorted = pd.DataFrame(columns=columns)
postcodes_cat_sorted['item_postcode'] = item_cat_grouped['item_postcode']


for ind in np.arange(item_cat_grouped.shape[0]):
    postcodes_cat_sorted.iloc[ind, 1:] = return_most_common_items(item_cat_grouped.iloc[ind, :], num_top_items)

In [ ]:
postcodes_cat_sorted.head()

In [ ]:
num_top_items = 3

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['item_postcode']

for ind in np.arange(num_top_items):
    try:
        columns.append('{}{} Most Common condition'.format(ind+1, indicators[ind]))  
    except:
        columns.append('{}th Most Common Condition'.format(ind+1))  

# create a new dataframe
postcodes_cond_sorted = pd.DataFrame(columns=columns)
postcodes_cond_sorted['item_postcode'] = item_cond_grouped['item_postcode']


# for ind in np.arange(item_grouped.shape[0]):
# #     print(postcodes_items_sorted.iloc[ind, 1:]) 
# #     print(return_most_common_items(item_grouped.iloc[ind, :], num_top_venues))
#     postcodes_items_sorted.iloc[ind, 1:] = return_most_common_items(item_grouped.iloc[ind, :], num_top_items)

for ind in np.arange(item_cond_grouped.shape[0]):
    postcodes_cond_sorted.iloc[ind, 1:] = return_most_common_items(item_cond_grouped.iloc[ind, :], num_top_items)

In [ ]:
postcodes_cond_sorted.head()

### Cluster postcodes

k-means is used to cluster the postcodes into 5 clusters.

In [ ]:
# # set number of clusters
# kclusters = 5

# berlin_grouped_clustering = berlin_grouped.drop('neighborhood', 1)

# # run k-means clustering
# kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(berlin_grouped_clustering)

# # check cluster labels generated for each row in the dataframe
# kmeans.labels_[0:10]

### Cosine similarity
to calculate user-user and item-item similarities

In [ ]:
# from sklearn.metrics.pairwise import cosine_similarity
# import numpy as np

# # Example vectors
# A = np.array([1, 2, 3])
# B = np.array([4, 5, 6])

# # Reshape the vectors into 2D arrays
# A = A.reshape(1, -1)
# B = B.reshape(1, -1)

# # Calculate cosine similarity
# cosine_similarity = cosine_similarity(A, B)

# print(cosine_similarity)

In [ ]:
## CONTINUE FROM HERE: factorization matrix, encoding

### To the Model

In [ ]:
# model_mock_df = pd.DataFrame(create_model_data(1500)).transpose()
# # model_mock_df.head(5)
# model_mock_df.shape

In [ ]:
# model_mock_df.info()

### Creating csv files

In [ ]:
# user_mock_df.to_csv('data/user_mock_data.csv', index=False)

In [ ]:
# item_mock_df.to_csv('data/item_mock_data.csv', index=False)

In [ ]:
# model_mock_df.to_csv('data/model_mock_data.csv', index=False)

## References:
- [Generate custom datasets using Python Faker](https://blogs.sap.com/2021/05/26/generate-custom-datasets-using-python-faker/)
- [folium_polygon_rectangle_layers](https://www.youtube.com/watch?v=9E9FTJrOJ1E&t=752s)
- [Faker](https://github.com/joke2k/faker/issues/1183)
- [Generating Mock Data with Python! (NumPy, Pandas, & Datetime Libraries)](https://www.youtube.com/watch?v=VJBY2eVtf7o)