In [420]:
import sqlite3
import pandas as pd
import urllib.parse

import urllib.parse
import requests

from urllib.parse import urlparse

import json
import datetime

In [421]:
conn = sqlite3.connect('data/db.sqlite3')

In [422]:
cursor = conn.cursor()

In [423]:
# Select data from a table
cursor.execute("SELECT * FROM geofree_api_item;")

In [424]:
rows = cursor.fetchall()

In [425]:
df_original = pd.read_sql_query("SELECT * from geofree_api_item", conn)

In [426]:
df = df_original.copy()
df.head()
# df.shape
# df.columns

,id,title,description,available,creation_date,latitude,longitude,condition,categories,views,likes,point
0,1,men's shoes,"Men's running shoes, blue, size 42",1,2023-03-29,45.519927,-73.574611,good,Clothes,0,0,b'\x00\x01\xe6\x10\x00\x00_Zyn\xc6dR\xc0\x9ahF...
1,2,Old sofa,"Old sofa, brown leather",1,2023-03-29,45.519936,-73.574608,acceptable,Furniture,0,0,b'\x00\x01\xe6\x10\x00\x00\xb2A\xcb_\xc6dR\xc0...
2,3,running shoes,"Men's running shoes, blue, size 42",1,2023-03-30,52.567184,13.406266,good,Clothes,0,0,b'\x00\x01\xe6\x10\x00\x00j\xf29\x1c\x02\xd0*@...

In [427]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3 non-null      int64
 1   title          3 non-null      object
 2   description    3 non-null      object
 3   available      3 non-null      int64
 4   creation_date  3 non-null      object
 5   latitude       3 non-null      float64
 6   longitude      3 non-null      float64
 7   condition      3 non-null      object
 8   categories     3 non-null      object
 9   views          3 non-null      int64
 10  likes          3 non-null      int64
 11  point          3 non-null      object
dtypes: float64(2), int64(4), object(6)
memory usage: 416.0+ bytes

In [428]:
df.head()

,id,title,description,available,creation_date,latitude,longitude,condition,categories,views,likes,point
0,1,men's shoes,"Men's running shoes, blue, size 42",1,2023-03-29,45.519927,-73.574611,good,Clothes,0,0,b'\x00\x01\xe6\x10\x00\x00_Zyn\xc6dR\xc0\x9ahF...
1,2,Old sofa,"Old sofa, brown leather",1,2023-03-29,45.519936,-73.574608,acceptable,Furniture,0,0,b'\x00\x01\xe6\x10\x00\x00\xb2A\xcb_\xc6dR\xc0...
2,3,running shoes,"Men's running shoes, blue, size 42",1,2023-03-30,52.567184,13.406266,good,Clothes,0,0,b'\x00\x01\xe6\x10\x00\x00j\xf29\x1c\x02\xd0*@...

In [429]:
ranking_df = pd.read_sql_query("SELECT * from geofree_api_item", conn)
ranking_df = ranking_df.drop('point', axis=1)

In [430]:
ranking_df['condition'] = ranking_df['condition'].replace('like_new', 1).replace('good', 2).replace('acceptable', 3).replace('poor', 4)

ranking_df['creation_date'] = pd.to_datetime(ranking_df['creation_date'])
ranking_df['age'] = round((pd.Timestamp.now() - ranking_df['creation_date']) / pd.Timedelta(hours=1), 1)

In [431]:
# ranking_df

In [432]:
# url = 'https://geofree.pythonanywhere.com/api/item-user-distance/?user_latitude=52.4480155&user_longitude=13.3832992'

In [433]:
# response = requests.get(url)

In [434]:
# parsed_url = urlparse(url)
# path = parsed_url.path

In [435]:
# distance_km = response.json()
# distance_km

In [436]:
# json_str = json.dumps({'distance_km': distance_km})

In [437]:
# # Parse the JSON string into a Python object
# data = json.loads(json_str)

In [438]:
# print(data)

In [439]:
# distances = data['distance_km']['distances']

In [440]:
# distances_df = pd.DataFrame(distances, columns=['item_id', 'distance_kms'])
# distances_df

In [441]:
# distances_df = distances_df.rename(columns={'item_id': 'id'})

In [442]:
url_search = 'https://geofree.pythonanywhere.com/api/get-categories/'

In [443]:
response2 = requests.get(url_search)

In [444]:
parsed_url = urlparse(url_search)
path = parsed_url.path

In [445]:
get_categories = response2.json()
get_categories

[{'name': 'All'},
 {'name': 'Furniture'},
 {'name': 'Clothes'},
 {'name': 'Kitchen'},
 {'name': 'Kids toys'},
 {'name': 'Plants'}]

In [446]:
# chosen_category=get_categories[0]
# chosen_category

chosen_category = get_categories[1]['name']
chosen_category

'Furniture'

In [447]:
# ranking_df_clean = ranking_df.copy()

In [448]:
# ranking_df_clean = ranking_df_clean[ranking_df_clean['categories'] == chosen_category]

# ranking_df_clean['creation_date_rank'] = ranking_df_clean['creation_date'].rank(method='min', ascending=True)
# ranking_df_clean['condition_rank'] = ranking_df_clean['condition'].rank(method='min', ascending=True)
# ranking_df_clean['views_rank'] = ranking_df_clean['views'].rank(method='min', ascending=False)
# ranking_df_clean['likes_rank'] = ranking_df_clean['likes'].rank(method='min', ascending=False)
# ranking_df_clean['age_rank'] = ranking_df_clean['age'].rank(method='min', ascending=True)

# calculate overall rank based on the average of Salary_Rank and Age_Rank
# ranking_df_clean['overall_rank'] = (ranking_df_clean['creation_date_rank'] + ranking_df_clean['condition_rank'] + ranking_df_clean['views_rank'] + ranking_df_clean['likes_rank']) / 5

# ranking_df_clean

,id,title,description,available,creation_date,latitude,longitude,condition,categories,views,likes,age,creation_date_rank,condition_rank,views_rank,likes_rank,age_rank,overall_rank
1,2,Old sofa,"Old sofa, brown leather",1,2023-03-29,45.519936,-73.574608,3,Furniture,0,0,116.9,1.0,1.0,1.0,1.0,1.0,0.8

In [ ]:
 # create a new copy of the df
ranking_df_filtered = ranking_df.copy()

In [457]:
# filter by categories
ranking_df_filtered = ranking_df_clean[ranking_df_clean['categories'] == chosen_category]  #|(ranking_df_clean['categories'] in chosen_category)]

# rank these columns 
ranking_df_filtered['creation_date_rank'] = ranking_df_filtered['creation_date'].rank(method='min', ascending=True)
ranking_df_filtered['condition_rank'] = ranking_df_filtered['condition'].rank(method='min', ascending=True)
ranking_df_filtered['views_rank'] = ranking_df_filtered['views'].rank(method='min', ascending=False)
ranking_df_filtered['likes_rank'] = ranking_df_filtered['likes'].rank(method='min', ascending=False)
ranking_df_filtered['age_rank'] = ranking_df_filtered['age'].rank(method='min', ascending=True)
ranking_df_filtered['overall_rank'] = (ranking_df_filtered['creation_date_rank'] + ranking_df_filtered['condition_rank'] + ranking_df_filtered['views_rank'] + ranking_df_filtered['likes_rank']) / 5
ranking_sorted = ranking_df_filtered.sort_values(by='overall_rank', ascending = False)

In [449]:
ranking_sorted = ranking_df_filtered.sort_values(by='overall_rank', ascending = False)
ranking_sorted

,id,title,description,available,creation_date,latitude,longitude,condition,categories,views,likes,age,creation_date_rank,condition_rank,views_rank,likes_rank,age_rank,overall_rank
1,2,Old sofa,"Old sofa, brown leather",1,2023-03-29,45.519936,-73.574608,3,Furniture,0,0,116.9,1.0,1.0,1.0,1.0,1.0,0.8

In [450]:
ranked_id = ranking_sorted['id']
ranked_id

1    2
Name: id, dtype: int64

In [451]:
# def recommend(chosen_category):
#     conn = sqlite3.connect('data/db.sqlite3')
#     cursor = conn.cursor()
#     cursor.execute("SELECT * FROM geofree_api_item;")
#     rows = cursor.fetchall()
#     df_original = pd.read_sql_query("SELECT * from geofree_api_item", conn)
#     df = df_original.copy()
#     ranking_df = pd.read_sql_query("SELECT * from geofree_api_item", conn)
#     ranking_df = ranking_df.drop('point', axis=1)
#     ranking_df['condition'] = ranking_df['condition'].replace('like_new', 1).replace('good', 2).replace('acceptable', 3).replace('poor', 4)
#     url_search = 'https://geofree.pythonanywhere.com/api/get-categories/'
#     response2 = requests.get(url_search)
#     parsed_url = urlparse(url_search)
#     path = parsed_url.path
#     get_categories = response2.json()
#     chosen_category = get_categories[0]['name']
#     ranking_df_clean = ranking_df.copy()
#     ranking_df_clean = ranking_df_clean[ranking_df_clean['categories'] == chosen_category]
#     ranking_df_clean['creation_date_rank'] = ranking_df_clean['creation_date'].rank(method='max', ascending=False)
#     ranking_df_clean['condition_rank'] = ranking_df_clean['condition'].rank(method='min', ascending=False)
#     ranking_df_clean['views_rank'] = ranking_df_clean['views'].rank(method='min', ascending=False)
#     ranking_df_clean['likes_rank'] = ranking_df_clean['likes'].rank(method='max', ascending=False)
#     ranking_df_clean['overall_rank'] = (ranking_df_clean['creation_date_rank'] + ranking_df_clean['condition_rank'] + ranking_df_clean['views_rank'] + ranking_df_clean['likes_rank']) / 4
#     ranking_sorted = ranking_df_clean.sort_values(by='overall_rank', ascending = False)
#     ranked_id = ranking_sorted['id']


# chosen_category = 'Clothes'
# chosen_category = chosen_category.upper()
# recommend(chosen_category)