[reference](https://machinelearningmastery.com/time-series-data-visualization-with-python/)

In [5]:
from pandas import read_csv
from matplotlib import pyplot
series = read_csv('daily-min-temperatures.csv', header=0, index_col=0, parse_dates=True)
print(series.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3650 entries, 1981-01-01 to 1990-12-31
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Temp    3650 non-null   float64
dtypes: float64(1)
memory usage: 57.0 KB
None

In [6]:
groups = series.groupby(Grouper(freq='A'))
years = DataFrame()
for name, group in groups:
 years[name.year] = group.values
years.boxplot()
pyplot.show()

NameError: name 'Grouper' is not defined